<!DOCTYPE html>
<html>

<head>
  <meta charset=" = "UTF-8">
  <title> car Price Prediction</title>
  <link href= 'https://fonts.googleapis.com/css?family= Pacifico' rel = 'stylesheet' type = 'text/css'>
<link href = 'https://fonts.googleapis.com/css?family = Arimo' rel = 'Stylesheet' type = 'text/css'>
<link href = 'https://fonts.googleapis.com/css?family = Hind:300' rel = 'Stylesheet' type = 'text/css'>
<link href = 'https://fonts.googleapis.com/css?family = Open+Sans+Condensed:300' rel = 'Stylesheet' type = 'text/css'>
<link href = 'https://fonts.googleapis.com/css?family = Arimo' rel = 'Stylesheet' type = 'text/css'>
<link href = 'https://fonts.googleapis.com/css?family = Arimo' rel = 'Stylesheet' type = 'text/css'>
<link href = 'https://fonts.googleapis.com/css?family = Arimo' rel = 'Stylesheet' type = 'text/css'>
</head>

<body>
  <div class = "login">
    <h1>Predict Car Price</h1.

      <form = action = "{{ url for('predict')}}"method = "Post">
        <input type = "text" name = "Engine Fuel Type" placeholder = "Engine Fuel Type" required = "required" />
        <input type = "text" name = "Engine HP" placeholder = "Engine HP" required = "required" />
        <input type = "text" name = "Engine Cylinders" placeholder = "Engine Cylinders" required = "required" />
        <input type = "text" name = "Transmission Type" placeholder = "Transmission Type" required = "required" />
        <input type = "text" name = "Driven_Wheels" placeholder = "Driven_Wheels" required = "required" />

        <button type = "Submit" class = "btn-primary btn-block btn-large">Predict</button>
      </form>
    <br>
    <br>
    {{prediction_text}}
  </div>
</body>
</html>
